*~
.*~
*.bck
.*.bck
.nbgrader.log
.ipynb_checkpoints/*
Ianno_Isem_19_20.pdf
/ShellPrograms/.ipynb_checkpoints/*
/Notes/*
/Tests/*
/archive.ics.uci.edu/*
/Humour/.*
/ShellPrograms/__pycache__/*
/ipynb/.*
/ipynb/*sol*
/ipynb/__pycache__/*
/html/index01.html
/html/EserciziLaboratori/*sol*
/html/Messaggi/*
Untitled.ipynb
/ShellPrograms/Untitled.ipynb
Images/.ipynb_checkpoints/*
